<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a
    *ngFor="let hero of heroes"
    class="col-1-4"
    routerLink="/detail/{{ hero.id }}"
  >
    <div class="module hero">
      <h4>{{ hero.name }}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search>

<!--The *ngFor repeater creates as many links as are in the component's heroes array.
The links are styled as colored blocks by the dashboard.component.css
Angular interpolation binding used within the *ngFor repeater to insert the current
iteration's hero.id into each routerLink
-->
